<html>
<head>
	</head>
<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
 
 <body>

 <nav>
    <div class="nav-wrapper" style="background:black;">
      <ul id="nav-mobile" class="left hide-on-med-down">
        <a href="#" class="brand-logo" style="padding-left:5px;font-size:15px; font-weight:bold; color:white;"><img src="{{url_for('static', filename='images/logo.gif')}}" style="width:53px; height:53px"> IIITA ORBS</a>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      {% if current_user.is_authenticated %}
        <li><a href="/">Home</a></li>
        <li><a href="/booking/">Booking</a></li>
        <li><a href="/cancellation/">Cancellation</a></li>
        <li><a href="/reservation/">Reservation</a></li>
        <li>
        <ul class="nav navbar-nav navbar-right">
          {% if current_user.is_authenticated %}
          <li><a class='dropdown-button' href='#' data-activates='dropdown1'><img src="{{current_user.avatar}}?sz=70" width="50" height="50" style="border-radius: 50%; margin-top:5px" alt="{{current_user.name}}"/></a></li> 
          {% endif %}
          <ul id='dropdown1' class='dropdown-content' style="margin-top:60px; margin-right:10px">
            <li><a href="{{url_for('logout')}}" style="color:black">Logout</a></li>
          </ul>
        </ul>
      </li>
       {% else %}
    <li><a href="{{url_for('login')}}" >Login</a></li>
    {% endif %}
      </ul>
    </div>
  </nav>


<div class="container" style="background-color:white; opacity:0.9; padding:  30 60 80 80; margin-top:20px; width:60%; height:50%; border:solid; border-width:1px">

  <div class="row">
    <h3> Add Rooms </h3>
    <form class="col s12" method ="POST" id="booking-form" action="/admin/rooms/">

      <div class="row">
        <div class="input-field col s4">
          <select name="hostel">
            <option value="" disabled selected>Hostel Number</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>
        <div class="input-field col s4">
          <select name="room_type">
            <option value="" disabled selected>Type of Room</option>
            <option value="AC">AC</option>
            <option value="NONAC">Non AC</option>
          </select>
        </div>
        <div class="input-field col s4">
          <input id="cost" type="number" min="0" class="validate" name ="cost">
          <label for="cost" style="color:black">Cost Per Day</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s4">
          <button class="btn waves-effect waves-light" style="margin-left: 15px" type="submit" name="action">Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
    <script type="text/javascript">$(document).ready(function() {
    $('select').material_select();
  });
$('.dropdown-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrainWidth: true, // Does not change width of dropdown to that of the activator
      click: true, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: false, // Displays dropdown below the button
      alignment: 'right', // Displays dropdown with edge aligned to the left of button
      stopPropagation: false // Stops event propagation
    }
  );</script>

 </body>


</html>